body{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#main_button {
    display: block;
    margin-top: 5%;
}
.btn {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: aliceblue;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
}

#levels{
    display: none;
}

#level-list{
    height: 90px;
    width: 100px;
    background: red;

    margin-top: 2%;

    direction: rtl;
    overflow:auto;
}