/*
 * CSS Styles for Risk Demo App
 *
 * Copyright 2020, Ava Cheng
 *
 */
 body, html {
    background: #242527;
    border: none;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
tr {
    height: 80px;
}
#header {
    text-align: center;
    font-size: 6em;
    font-family: fantasy;
    line-height: 120px;
}
#sidebar_left {
    width: 20%;
    margin-bottom: 20px;
    float: left;
}
#sidebar_right {
    width: 20%;
    margin-bottom: 20px;
    float: right;
}
#content {
    width: 60%;
    margin-bottom: 10px;
    float: left;
}