
/* Game screen styles */
#game-screen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    border: 2px solid black;
}

/* Level ingo */
.level-info {
    background-color: #0A4273;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.choose-level-btn {
    margin-right: 20px;
    width: 10%;
}

.level-info-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}

.level-info-item {
    display: flex;
    margin-right: 30px;
    padding: 20px;
}

.level-info-item h4 {
    margin-right: 10px;
}

.level-info-item p {
    color: yellow;
    font-weight: bold;
}

#level-select-screen .box-container {
    width: 70vw;
}

.levels-list {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Level list items */
.levels-list-item {
    position: relative;
    width: 19%;
    margin: 0 0.5% 10px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* Level locked */
.locked::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

/* Screens */
.start-game, .continue-game, .restart-game {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 22;   
}

#restart-screen, #continue-screen {
    z-index: 22;
}

.base-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.base-info p {
    text-align: center;
    margin-bottom: 10px;
}

.base-info input {
    margin-bottom: 10px;
}
