body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2D4770;
}

#wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #4C658B;
  box-shadow: 5px 5px black;
}

#editor {
  margin: 0;
  padding: 0;
  position: absolute;
  width:1200px;
  height:800px;
  overflow:hidden;
  /* background: url("../images/backgrounds/my-background.jpg "); */
  background-repeat: no-repeat;
  background-size: contain;
}

.item {
  margin: 0;
  position: absolute;
  background-color: #00f;
  color: #fff;
}

.item-placeholder {
  margin: 5px;
  background-color: #00f;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 5px 1200px auto;
  grid-template-rows: 79px 800px;
  grid-gap: 10px;
}

.button {
  background: #7589A7;
  padding: 15px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.button:active {
  transform: translateY(4px);
}

.level-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: #4C658B;
  box-shadow: 5px 5px black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.objects-container {
  background-color: #4C658B;
  box-shadow: 5px 5px black;
  display: flex;
  margin: 0;
  padding: 0;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #7589A7;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close {
  color: #061A39;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
}

input[type=text] {
  padding: 5px;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  background: white;
  font-size: 16px;
  border: 3px solid #061A39;
  margin-top: 2%;
}

input[type=number] {
  padding: 5px;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  background: white;
  font-size: 16px;
  border: 3px solid #061A39;
  margin-top: 2%;
}

select {
  padding: 5px;
  position: relative;
  left: 0;
  outline: none;
  background: white;
  font-size: 16px;
  border: 3px solid #061A39;
  margin-top: 2%;
}

.text-field {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  color: white;
  font-size: 14px;
  padding: auto;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-button {
  background-color: #061A39;
  margin: 10px;
}

#new-object-preview {

}
